/* HEADER STYLE
------------------------- */
.navbar {
	-webkit-backface-visibility: hidden;	
	font-family: 'Oxygen', sans-serif;
}

.navbar li {
	font-weight: 500;
	font-size: 1.6rem;
	color: #FFF;
}

.main-logo {
	width: 240px;
	height: 64px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/ichikawa-logo.png') no-repeat;
	background-size: 100%;
	margin-top: 11px;
	margin-left: 5px;
}

.mobile-nav {
	margin-top: 83px;
	margin-bottom: 2px;
	text-align: center;
}

.mobile-fav{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;	
	font-size: 2rem;	
	color: #6D0000;	
	list-style: none;
	background: #E5E5E5;
	background: hsl(0, 0%, 90%);
	padding: 6px;
	border: 2px solid white;	
}

.mobile-fav i {
	font-size: 2.8rem;
	color: orange;
}

.navbar-nav > li:first-child {
    margin-left: 130px;
}

.navbar-nav > li > a {
    margin-right: 50px;
}

/* CUSTOMIZE THE CAROUSEL
------------------------- */
/* Carousel base class */
.carousel {
  height: 500px;
  margin-top: 81px;
  margin-bottom: 50px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-indicators {
  bottom:-45px;
  
}

.carousel-indicators li {
  border-color:#000;
  background-color:#FFF;
  width: 12px;
  height: 12px;
  margin-left: 4px;
}

.carousel-indicators .active {
  background-color: #000;
  margin-left: 4px;
}

/* CAROUSEL FADING EFFECT
------------------------- */

.carousel-fade .carousel-inner .item {
  opacity: 0.8;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.item:nth-child(1) {
  background: url("../img/slide1.jpg") no-repeat center;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;  
}
.item:nth-child(2) {
  background: url("../img/slide2.jpg") no-repeat center;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;
}
.item:nth-child(3) {
  background: url("../img/slide3.jpg") no-repeat center;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;
}
.item:nth-child(4) {
  background: url("../img/slide4.jpg") no-repeat center;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;
}
/* MARKETING STYLE
------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.mark-box {
	padding-top: 3%;
	background: #F7F7F7;
	background: hsl(0, 0%, 95%);	
	border: 1px solid white;
}


/* FEATURE STYLE
------------------------- */
.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette {
  color: #FFF;
  height: 100%;
  padding: 1rem 0;
 }

.bg-feature1 {
	background: #AA5047;
}

.bg-feature2 {
/*  background: url("../img/feature2.jpg") no-repeat center;
  background-size: cover!important;
  -moz-background-size: cover!important;
  -webkit-background-size: cover!important;*/
	background: #345681;
}

.bg-feature3 {
/*	background: url("../img/store.jpg") no-repeat;
	background-position: 0px -370px;
	background-size: 100%;*/
	background: #682347;
}

.bg-feature4 {
  background: #A65F19;
}

.bg-menu1 {
  background: #999;
}

 /* FOOTER STYLE
 ------------------------- */
.footer {
	width: 100%;
	height: auto;
  background: #F7F7F7;
  background: hsl(0, 0%, 92%); 
  padding-bottom: 5px;
}

.footer h3 {
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 8px;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style: none;
}

.header-underline {
border-bottom: 3px solid #bdb7a4;
}

.center img {
    display: block;
    margin: 2rem auto 1rem auto;
}

/* PAGES 
------------------------- */
.wrap { 
  margin-top: 83px;
 }

 .wrap h1 {
   padding-bottom: 1rem;
 }

.main-underline {
  border-bottom: 3px solid brown;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Oxygen', sans-serif;
}

.menu-info {
  text-align: center; 
  margin-bottom:4rem;
}

.bg-about {
  background: url("../img/ichikawa.jpg") no-repeat center;
  margin-bottom: 4rem;
  height: 35rem;
  background-size: cover !important;
  -moz-background-size: cover !important;
  -webkit-background-size: cover !important;
}

.menu-list {
  padding: 0;
}

.menu-list li {
   list-style: none;
}

/* RESPONSIVE STYLE 
------------------------- */
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 768px) {
  .carousel {
    margin-top: 0;
    height: 300px;
  }
  .carousel .item {
    height: 300px;
  }
  .carousel-inner > .item > img {
    height: 300px;  
  }
  .wrap {
    margin-top: 0;
  }
  .bg-about {
  background: url("../img/ichikawa.jpg") no-repeat -500px;
  }
}

@media (max-width: 1024px) {
	.navbar-nav > li:first-child {
   		margin-left: 50px;
	}
	.navbar-nav > li > a {
    	margin-right: 50px;
	}
}
@media (max-width: 768px) {
	.navbar-nav > li:first-child {
   		margin-left: 0;
	}
	.navbar-nav > li > a {
    	margin-right: 0;
	}
}
@media (max-width: 359px) {
	.mobile-fav {
		font-size: 1.5rem;
	}
}
@media (min-width: 992px) {
  .menu-heading {
    margin-top: 0px;
  }
}