.navbar-brand img {
	height: auto;
	margin-top: -9px;
	width: 100%;
}

.mobile-nav {
	margin-top: 60px;
	color: black;
	text-align: center;
	font-size: 1.8rem;
}

.mobile-fav li{
	display: inline;
	list-style: none;
	background: hsl(0, 0%, 90%);
	padding: 6px;	
}