.navbar {
	-webkit-backface-visibility: hidden;	
	font-family: 'Oxygen', sans-serif;
}

.navbar li {
	font-weight: 500;
	font-size: 1.6rem;
	color: #FFF;
}


.navbar-brand img {
	height: auto;
	margin-top: -20px;
	margin-left: -10px;
	width: 80%;
}

.main-logo {
	width: 240px;
	height: 64px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/ichikawa-logo.svg') no-repeat;
	background-size: 100%;
	margin-top: 11px;
	margin-left: 5px;
}

.mobile-nav {
	margin-top: 83px;
	margin-bottom: 2px;
	text-align: center;
}

.mobile-fav{
	font-family: arial, sans-serif;
	font-weight: 600;	
	font-size: 2rem;	
	color: #6d0000;	
	list-style: none;
	background: #E5E5E5;
	background: hsl(0, 0%, 90%);
	padding: 6px;
	border: 2px solid white;	
}

.mobile-fav i {
	font-size: 2.8rem;
	color: orange;
}

.menu-feat {
	padding-top: 3%;
	background: #F7F7F7;
	background: hsl(0, 0%, 97%);	
	border: 1px solid white;
}

.navbar-nav > li:first-child {
    margin-left: 130px;
}

.navbar-nav > li > a {
    margin-right: 50px;
}

.bg-feature1 {
/*	background: url("../img/store.jpg") no-repeat;
	background-position: 0px -370px;
	background-size: 100%;*/
	background: #999;
}

.bg-feature2 {
/*	background: url("../img/store.jpg") no-repeat;
	background-position: 0px -370px;
	background-size: 100%;*/
	background: #345681;
}

.bg-feature3 {
/*	background: url("../img/store.jpg") no-repeat;
	background-position: 0px -370px;
	background-size: 100%;*/
	background: #682347;
}

.featurette {
  color: #FFF;
  height: 100%;
 }

/* RESPONSIVE */

@media (max-width: 1024px) {
	.navbar-nav > li:first-child {
   		margin-left: 50px;
	}
	.navbar-nav > li > a {
    	margin-right: 50px;
	}
}


@media (max-width: 768px) {
	.navbar-nav > li:first-child {
   		margin-left: 0;
	}
	.navbar-nav > li > a {
    	margin-right: 0;
	}
}